# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# production
build/

npm-debug.log

package-lock.json

**/cypress/videos/

**/storybook-static
/tests-acceptance/videos/
/tests-acceptance/screenshots/
